name: Release

on:
  push:
    tags:
      - "v*.*.*"

# additional permissions for provided GitHub token to create new release
permissions:
  contents: write

jobs:

  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
          
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build a simple jar with all dependencies
        run: ./gradlew shadowJar

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          name: GradleOfflineTools
          draft: true
          fail_on_unmatched_files: true
          files: build/libs/app-[\\.1-9]*.jar
